<!DOCTYPE html>

<html>

  <h2>Puppy Name: <%= @name%></h2>
  <h2>Puppy Breed: <%= @breed%></h2>
  <h2>Puppy Age: <%= @age%></h2>
  <button type='submit' value="Submit" form="form1"> submit</button>

</html>
